.error_page #main-wrapper {
    width: 100%;
}
.error_page #rsidebar-wrapper {
    display: none;
}
.error_page .blog-posts {
    display: none;
}
.error_page .notfound h2 {
    text-align: center;
    font-size: 68px;
}
.error_page .notfound p {
    text-align: center;
    font-size: 23px;
}
.error_page .notfound {
    margin: 170px 0px;
}