.post-outer {
    float: left;
    border: 1px solid #E6E6E6;
    width: 265px;
    margin-left: 40px;
    margin-bottom: 40px;
}
.post-outer img {
    width: 265px;
}
.item_image {
    height: 200px;
    overflow: hidden;
    border-bottom: 1px solid #E6E6E6;
    background-color: #F7F5F6;
}
.post-outer:nth-child(4n+1) {
    margin: 0px;
}
.index .post-body {
    float: left;
    text-align: center;
}
.index #main-wrapper {
    margin-top: 40px;
}
.post h2 {
    font-size: 16px;
    margin-top: 16px;
}
.post h2 a {
    color: #555;
    text-decoration: none;
    font-weight: 400;
}
.post .price {
    font-size: 20px;
    font-weight: 600;
    color: #df1f26;
}
.post .item_add {
    border: 1px solid #E6E6E6;
    padding: 10px;
    display: inline-block;
    margin: 10px 0px 20px 0px;
    font-size: 15px;
    color: #8E8E8E;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}
.post .item_add:hover {
    background-color: #df1f26;
    color: #fff;
}
a.item_add.productad {
    background: #df1f26;
    color: #fff;
    pointer-events: none;
}
.main-title {
    margin: 10px 0px 29px 0px;
    text-transform: uppercase;
    padding: 8px 10px 8px 10px;
    font-weight: 600;
    color: #555;
    background-color: #eee;
    font-size: 17px;
}